@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
body{
    background:#111;
    color:#fff;
}
.nav-button{
    color:#fff;
    font-size:2em;
    padding:10px;
}
.nav-button:hover{
    color:#0074e7;
}
#contact{
    display:flex;
    justify-content:space-between;
    
}
.heading{
    text-align:center;
    font-size:30px;
    font-weight:bold;
    color:#0080ff;
}

.contact-form{
    border-radius:15px;
    font-size:20px;
    padding-top:10px;
    width:30%;
    height:500px;
    background: rgb(31, 30, 30);
    padding-left:11px;
    margin-left:75px;
    
}
form textarea{
    width:95%;
    height:70px;
    font-size:18px;
    font-weight:bold;
    border:2px solid#0080ff;
    background:#000;
    color: #fff;
}
form textarea:hover{
    background:#0080ff;
}
form h1{
    text-align:center;
    color:#0080ff;
}

form input[type="text"]{
     width:60%;
     height:20px;
     border:2px solid#0080ff;
     background:#000;
     color:grey;
}
input[type=text]:hover {
    background-color:lightskyblue;
  }
  input[type=email]{
      background:#000;
      border:2px solid #0080ff;
      color:#fff;
      
  }
  
  .button{
   background:#fba;
   text-decoration: none;
   color:#000;
  }

  .button:hover{
    background:#ffa791;
  }
  .social a{
      color:#0080ff;
      font-size:5em;
      margin-right:300px;
      padding:10px;
      display:flex;
      flex-direction: column;
      text-decoration: none;
      
  }

  .social a:hover{
      color:#fff;
  }
  .social a.first{
      color:#fba;
      font-size:4em;
  }
  .social a.first:hover{
      color:#fff;
  }

  .text{
      text-align:center;
      font-size:25px;
      
      color:#fff;
  }