@media(min-width:320px) and (max-width:360px) {
    #about{
        display:flex; 
        flex-direction:column; 
        width:133%;
        justify-content: space-between;
      }  
      header{
        margin-bottom:-20px;
    }
      .header{
        text-align:left;
        padding-left: 30px;
        font-weight:bold;
        font-size:20px;
        padding-top: 5px;
        margin-bottom: -30px;
        color:#fff;
    }
    .me{
        padding-left:2px;
        color:#fff;
    }
    .me h2{
        font-size:32px;
        color:#0080ff;
        margin-bottom: -5px;
    }
    
    .me .interest{
        color:#0080ff;
        font-size:25px;
    }
    .me h4{
        font-size:12px;
        text-decoration:overline;
        text-decoration-color: #0080ff;
        margin-bottom: -8px;
    }
    .me .pace{
        font-size:12px;
        
    }
    .me h6{
        font-size:14.5px;
        text-decoration: overline;
        text-decoration-color: #0080ff;
        margin-bottom:-7px;
    }
    .me .atharva{
        font-size: 13px;
    }
    .me p{
        margin-bottom:10px;
        font-size:16px;
        
    }
    h5{
        color:#0080ff;
        font-size:25px;
        margin-top:20px;
    }
    .last{
        text-align: left;
        font-size:10px;
        font-weight:bold;
        color:#0080ff;
        font-family:'Noto Sans JP', sans-serif;
    }
}

@media(min-width:361px) and (max-width:375px) {
    #about{
        display:flex; 
        flex-direction:column; 
        width:133%;
        justify-content: space-between;
      }  
      header{
        margin-bottom:-20px;
    }
      .header{
        text-align:left;
        padding-left: 35px;
        font-weight:bold;
        font-size:25px;
        padding-top: 5px;
        margin-bottom: -40px;
        color:#fff;
    }
    .me{
        padding-left:2px;
        color:#fff;
    }
    .me h2{
        font-size:40px;
        color:#0080ff;
        margin-bottom: -5px;
    }
    
    .me .interest{
        color:#0080ff;
        font-size:30px;
    }
    .me h4{
        font-size:14px;
        text-decoration:overline;
        text-decoration-color: #0080ff;
        margin-bottom: -8px;
    }
    .me .pace{
        font-size:14.5px;
        
    }
    .me h6{
        font-size:16px;
        text-decoration: overline;
        text-decoration-color: #0080ff;
        margin-bottom:-7px;
    }
    .me .atharva{
        font-size: 15.5px;
    }
    .me p{
        margin-bottom:10px;
        font-size:20px;
        
    }
    h5{
        color:#0080ff;
        font-size:30px;
        margin-top:20px;
    }
    .last{
        text-align: left;
        font-size:12px;
        font-weight:bold;
        color:#0080ff;
        font-family:'Noto Sans JP', sans-serif;
    }
}

@media(min-width:376px) and (max-width:430px) {
    #about{
        display:flex; 
        flex-direction:column; 
        width:133%;
        justify-content: space-between;
      }  
      header{
        margin-bottom:-20px;
    }
      .header{
        text-align:left;
        padding-left: 28px;
        font-weight:bold;
        font-size:35px;
        padding-top: 5px;
        margin-bottom: -40px;
        color:#fff;
    }
    .me{
        padding-left:2px;
        color:#fff;
    }
    .me h2{
        font-size:50px;
        color:#0080ff;
        margin-bottom: -5px;
    }
    
    .me .interest{
        color:#0080ff;
        font-size:33px;
    }
    .me h4{
        font-size:16px;
        text-decoration:overline;
        text-decoration-color: #0080ff;
        margin-bottom: -8px;
    }
    .me .pace{
        font-size:16px;
        
    }
    .me h6{
        font-size:18px;
        text-decoration: overline;
        text-decoration-color: #0080ff;
        margin-bottom:-7px;
    }
    .me .atharva{
        font-size: 17.5px;
    }
    .me p{
        margin-bottom:10px;
        font-size:23px;
        
    }
    h5{
        color:#0080ff;
        font-size:33px;
        margin-top:20px;
    }
    .last{
        text-align: left;
        font-size:15px;
        font-weight:bold;
        color:#0080ff;
        font-family:'Noto Sans JP', sans-serif;
    }
}