@media(min-width:320px) and (max-width:360px){
    h1{
        text-align:center;
        color:#0080ff;
        margin-top:30px;
        font-size:40px;
        font-family:'Noto Sans JP', sans-serif;
        display:inline;
        padding-left: 50px;
    }
    .first{
        margin-top:30px;
        text-align: center;
        color:#fba;
        padding-left:5px;
        padding-right: 5px;
        font-size:15px;
    }

    .second{
        margin-top:20px;
        padding-right:5px;
        text-align:center;
        color:#fff;
        padding-left:5px;
        font-size:15px;
    }
    img{
        margin-top:20px;
        border-radius:50%;
        height:185px;
        margin-left: 95px;
    }
    hr{
        max-width:280px;
        margin-top:20px;
        margin-left:30px;
    }
    .links{
        text-align:center;
        font-size:14px;
        text-decoration:none;
        color:#ea0f1e;
        margin-top:15px;
        font-weight:bold;
    }
    .links a{
        text-decoration:none;
        color:#808080;
    }
    
    .links a:hover{
        text-decoration:underline;
        color:lightsteelblue;
    }
     
}

@media(min-width:361px) and (max-width:375px){
    h1{
        text-align:center;
        color:#0080ff;
        margin-top:30px;
        font-size:45px;
        font-family:'Noto Sans JP', sans-serif;
        display:inline;
        padding-left: 50px;
    }
    .first{
        margin-top:30px;
        text-align: center;
        color:#fba;
        padding-left:5px;
        padding-right: 5px;
        font-size:17px;
    }

    .second{
        margin-top:20px;
        padding-right:5px;
        text-align:center;
        color:#fff;
        padding-left:5px;
        font-size:17px;
    }
    img{
        margin-top:20px;
        border-radius:50%;
        height:190px;
        margin-left: 100px;
    }
    hr{
        max-width:300px;
        margin-top:20px;
        margin-left:30px;
    }
    .links{
        text-align:center;
        font-size:16px;
        text-decoration:none;
        color:#ea0f1e;
        margin-top:15px;
        font-weight:bold;
    }
    .links a{
        text-decoration:none;
        color:#808080;
    }
    
    .links a:hover{
        text-decoration:underline;
        color:lightsteelblue;
    }
}

@media(min-width:376px) and (max-width:430px){
    h1{
        text-align:center;
        color:#0080ff;
        margin-top:50px;
        font-size:50px;
        font-family:'Noto Sans JP', sans-serif;
        display:inline;
        padding-left: 52px;
    }
    .first{
        margin-top:30px;
        text-align: center;
        color:#fba;
        padding-left:5px;
        padding-right: 5px;
        font-size:18px;
    }

    .second{
        margin-top:20px;
        padding-right:5px;
        text-align:center;
        color:#fff;
        padding-left:5px;
        font-size:19px;
    }
    img{
        margin-top:20px;
        border-radius:50%;
        height:205px;
        margin-left: 125px;
    }
    hr{
        max-width:330px;
        margin-top:20px;
        margin-left:30px;
    }
    .links{
        text-align:center;
        font-size:18px;
        text-decoration:none;
        color:#ea0f1e;
        margin-top:15px;
        font-weight:bold;
    }
    .links a{
        text-decoration:none;
        color:#808080;
    }
    
    .links a:hover{
        text-decoration:underline;
        color:lightsteelblue;
    }
}

@media(min-width:760px) and (max-width:1024px){
    h1{
        text-align:center;
        color:#0080ff;
        font-weight:bold;
        font-size:120px;
        font-family:'Noto Sans JP', sans-serif;
        margin-bottom:40px;
        margin-top:30px;
    }
    .first{
        max-width:1000px;
        text-align: center;
        color:#fba;
        padding-left:60px;
        font-size:25px;
    }
    .second{
        margin-top:20px;
        padding-right:5px;
        text-align:center;
        color:#fff;
        padding-left:40px;
        font-size:25px;
    }
    img{
        border-radius:50%;
        height:200px;
        margin-left: 300px;
    }
    hr{
        max-width:550px;
        margin-top:20px;
        margin-left:100px;
    }
    .links{
        text-align:center;
        font-size:25px;
        text-decoration:none;
        margin-top:20px;
        font-weight:bold;
    }
    
}