@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
body{
    background:#111;
    color:#fff;
}

h1{
    text-align:center;
    color:#0080ff;
    font-weight:300;
    font-size:100px;
    font-family:'Noto Sans JP', sans-serif;
    margin-bottom:40px;
    margin-top:30px;
    animation-name: txt;
    animation-duration: 3s;
}

@keyframes txt {
    0% {top: -200px}
    100% {top:0px}
}
.first{
    max-width:1100px;
    text-align: center;
    color:#fba;
    padding-left:175px;
    font-size:24.9px;
}

.second{
    max-width:800px;
    text-align:center;
    color:#fff;
    padding-left:330px;
    font-size:25px;
}

img{
    border-radius:50%;
    height:200px;
    margin-left: 670px;
}

hr{
    max-width:600px;
    margin-top:20px;
    margin-left:410px;
}
.links{
    text-align:center;
    font-size:22px;
    text-decoration:none;
    margin-top:20px;
    font-weight:bold;
    animation: SlideInFromBottom 2s ease-in;
}
@keyframes SlideInFromBottom {
    0% {
        transform:translateY(500%)
    }
    100% {
        transform: translateX(0);
    }
}

.links a{
    text-decoration:none;
    color:#808080;
}

.links a:hover{
    text-decoration:underline;
    color:lightsteelblue;
}